.box {
  width: 200px;
  height: 200px;
  background-color: blue;
  animation: myslidein 4s, myrotate 3s;
}

/* .box:hover {
  width: 400px;
  height: 400px;
  background-color: green;
  transition-property: width;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 1s; 
  transition: all 4s cubic-bezier(0.29, 1.01, 1, -0.68) 1s;
}  */

@keyframes myslidein {
  0% {
    margin-left: 100%;
    margin-top: 0%;
  }

  50% {
    margin-top: 80vh;
    background-color: red;
  }

  100% {
    margin-left: 0%;
    margin-top: 0%;
  }
}
